.yellow{
    background-color: #ffc400dc;
    height: 150px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    padding: 10px;
    
}
.black{
    background-color: black;
    height: 150px;
    margin: 10px;
    color: white;
    display: inline-block;
    width: 300px;
    padding: 10px;
}